* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    height: 90vh;
    font-size: 2rem;
    background: #22577A;
    font-family: sans-serif;
}

header{
    height: 8rem;
    background: #1c4663;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    padding: 0.5rem 0 0.5rem 2rem;
}

.LoginButton{
    text-decoration: none;
    color: #03C988;
    padding: 0 5rem 0 0;
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(28, 1fr);
    padding: 5rem;
    gap: 2rem;
}

.card{
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
}

.card1{
   grid-column: 2 / 5;
   grid-row: 1 / 15;
   background: #00FFAB;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   font-size: 4rem;
   gap: 4rem;
   padding: 1.5rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card2{
   grid-column: 2 / 5;
   grid-row: 15 / 29;
   background: #03C988;
   display: flex;
   justify-content: center;
   align-items: center;
}

.chart--1{
    padding: 1.5rem;
}

.card3{
   grid-column: 5 / 11;
   grid-row: 1 / 15;
   background: #6ce488;
   display: flex;
   justify-content: center;
   align-items: center;
}

.chart--2{
    padding: 1.5rem;
}

.card4{
    grid-column: 5 / 11;
    grid-row: 15 / 29;
    background: #6ce488;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.chart--3{
    padding: 1.5rem;
}

.card5{
    grid-column: 11 / 14;
    grid-row: 1 / 15;
    background: #00FFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    padding: 1.5rem;
}

.card6{
    grid-column: 11 / 14;
    grid-row: 15 / 29;
    background: #03C988;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

@media screen and (max-width: 79.5rem){
    body{
        height: 170vh;
    }
    .container{
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(57, 1fr);
    }

    .card1{
        grid-column: 2/8;
    }
    .card2{
        grid-column: 2/8;
    }
    .card5{
        grid-column: 8/14;
    }
    .card6{
        grid-column: 8/14;
    }
    .card3{
        grid-column: 2/14;
        grid-row: 29/43;
    }

    .card4{
        grid-column: 2/14;
        grid-row: 43/57;
    }
}

@media screen and (max-width: 49.6rem){
    .card1{
        grid-column: 1/8;
        font-size: 3.5rem;
    }
    .card2{
        grid-column: 1/8;
    }
    .chart--1{
        padding: 0.5rem;
    }
    .card5{
        grid-column: 8/15;
    }
    .card6{
        grid-column: 8/15;
    }

    .card3{
        grid-column: 1/15;
    }
    .card4{
        grid-column: 1/15;
    }
}

@media screen and (max-width: 33.75rem){
    body{
        height: 290vh;
    }
    .container{
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(82, 1fr);
    }
    .card1{
        grid-column: 1/15;
        grid-row: 1/12;
        font-size: 4rem;
    }
    .card2{
        grid-column: 1/15;
        grid-row: 12/26;
        padding: 2rem;
    }
    .card5{
        grid-column: 1/15;
        grid-row: 26/40;
    }
    .card6{
        grid-column: 1/15;
        grid-row: 40/54;
    }
    .card3{
        grid-column: 1/15;
        grid-row: 54/68;
    }
    .card4{
        grid-column: 1/15;
        grid-row: 68/82;
    }
}