* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    background: #EDF1D6;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.card{
    width: 40rem;
    height: 40rem;
    border-radius: 5rem;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
    flex-shrink: 0;
    background: #0e848893;
}

.timerText{
    font-size: 200%;
}

.card--stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.button{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: white;
}

.button--start{
    background: #609966;
}

.button--stop{
    background: #FF0303;
}

.button--reset{
    background: #2F58CD;
}