*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
}

header{
    max-width: 100%;
    height: 4rem;
    background: red;
}


.widgets{
    height: 400px;
    width: 400px;
    background: purple;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
}

.first-row{
    
}

section{
    display: flex;
    max-height: 100%;
    width: 70%;
}

.second-row{
    
}

.third-row{
    
}

.block{
    width: 400px;
    height: 100%;
    background: blue;
}
